.card {
  border: 0px!important;
}
.card-title {
  font-size: 1rem;
}
@media screen and (min-width:600px) {
  .card-title {
    font-size: 1.5rem;
  }
}
.card-text {
  font-size: 0.8rem;
}
@media screen and (min-width:600px) {
  .card-text {
    font-size: 1rem;
  }
}
